@use './../../../../shared/ui/styles/index' as *;

.button {
  height: 40px;
  min-width: 202px;
  padding-inline: 16px;
  border-radius: 1000px;
  border: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  letter-spacing: 0;

  &--primary {
    background-color: $primary-button-bg-color;
    color: $primary-button-color;
  }
}
