.lessons-page {
  font-family: Inter, Arial, sans-serif;
  padding-inline: 48px;
  padding-block: 32px;
  height: 100%;
  &__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0;
    margin: 0;
  }
  &__filter-panel {
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
    height: 21px;
    align-items: flex-start;

  }
  &__filter-button {
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    align-self: flex-start;
    height: 21px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      transition: background-color 0.3s ease;
    }

    &--active::after {
      background-color: #000;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}