$primary-button-bg-color: #1e1e1e;
$primary-button-color: #fff;
$default-bg-color: #fff;
$border-color: #aeaeae;
$primary-text-color: #000;
$secondary-text-color: #908f8f;
$scroll-button-border-color: #8C8C8C;
$active-button-underline: #000;